html,body {
    background: #fff;
    margin:0;
    padding: 0;
    color: #000;
    font-family: 'gilroy400';
}
h1 {
    line-height: inherit;
    margin: 0;
    padding: 0;
}
a {
    color: #000;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
video.videolar {
    max-width: 100%;
}
.shaqyru_type {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px rgb(171 189 198 / 60%);
    text-decoration: none;
}
.shaqyru_type:hover {
    box-shadow: 3px 1px 10px 6px rgb(171 189 198 / 60%);
}
img.b1-image {
    width: 518px;
    height: auto;
}
img.logo {
    width: 195px;
}
img.logo-footer {
    width: 194px;
}
img.mainfooter-ss {
    width: 23px;
}
.merekejpg {
    width: 40%;
    display: block;
    margin: 0 auto;
}
img.mereke_banner {
    width: 100%;
}
.mereke_a {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.mereke_line {
    width: 100%;
    height: 2px;
    background: #bdbdbd;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.merekejukteu {
    display: block;
    width: 200px;
    background: #5d41f5;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 24px;
    text-decoration: none;
}
.merekejukteu:hover {
    background: #6552cf;
    color: #fff;
}
/*.meiramsale {
    text-align: center;
    font-size: 20px;
    margin-top: 18px;
    color: red;
}*/
.meiramsale2 {
    display: block;
    width: 200px;
    background: #3dab10;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 24px;
    text-decoration: none;
}
.meiramsale2:hover {
    background: #77cd54;
    color: #fff;
}
.rowzczsczxc {
    text-align: center;
}
/*.shaqyrular-imgdiv {
    height: 290px;
    overflow: hidden;
}*/
.help-block {
    color: red;
}
.has-error .form-control {
    border-color: #ff726f;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.has-success .form-control {
    border-color: #60cb62;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
a.blogmenu {
    font-size: 18px;
    margin-left: 70px;
}
.insta-sale-text {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
#image {
        display: block;
        max-width: 100%;
}
.usocial {
    margin-top: 30px;
}
.doprow {
        padding: 0px 15px;
}
.go1-titlespan {
        margin-bottom: 5px!important;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-arrow-left:before {
    content: "\2190";
}
.glyphicon-arrow-right:before {
    content: "\2192";
}
.dropdown-menu {
    font-size: 14px!important;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}

/* SHOTO START--------------------*/
.shaqyrular-photodiv {
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 15px #00000040;
}
div.blog-a2 {
    display: block;
    /*border: 1px solid #dfdfdf;*/
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.shoto-dflex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.shoto_price {
    color: white;
    font-size: 20px;
    font-family: 'gilroy600';
    background: green;
    border-radius: 30px;
    padding: 5px 10px;
    width: 27%;
    margin-right: 3%;
}
.shoto_usynys {
    color: white;
    font-size: 12px;
    font-family: 'gilroy600';
    width: 70%;
    background: #007c4e;
    border-radius: 30px;
    padding: 5px 20px;
}

.blog-button2 {
    background: linear-gradient(263.43deg, #00ADFF 16.23%, #04ACFB 48.37%, #00A6FA 72.92%, #00ADFF 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 20%);
    border-radius: 45px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: 'gilroy500';
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-button2:hover {
    background: linear-gradient(263.43deg, #079fe7 16.23%, #2cbbff 48.37%, #70bce3 72.92%, #00acff 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 30%);
}
.shaqyrular-photodiv {
    margin-top: 15px;
}
select.selecttoilar {
    width: 135px;
    height: 45px;
    margin-left: 10px;
    margin-right: 15px;
    /*margin-bottom: 15px;*/
    padding: 0 9px;
    /*float: right;*/
}
select.selecttoilar option {
    width: 115px;
    height: 45px;
    margin-left: 10px;
    margin-right: 15px;
    /*margin-bottom: 15px;*/
    padding: 0 9px;
    /*float: right;*/
}
form.selectform {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.selectspan {
    font-size: 18px;
    font-family: 'gilroy600';
}
/* SHOTO END--------------------*/

@font-face {
  font-family: 'optima400';
  src: url('../fonts/Optima-Regular.TTF') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'optima700';
  src: url('../fonts/Optima-Bold.TTF') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy300';
  src: url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy400';
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy500';
  src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy600';
  src: url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy700';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy800';
  src: url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'gilroy900';
  src: url('../fonts/Gilroy-Black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}


/* - - - - - - - PRELOADER START- - - - - - - - - - - - - */

.blueBg {
    background-image: linear-gradient(90deg, #00BFFF, #1E90FF);
}
.intro-banner-vdo-play-btn{
    height:60px;
    width:60px;
    position:absolute;
    top:40%;
    left:50%;
    text-align:center;
    margin:-30px 0 0 -30px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn i{
    line-height:56px;
    font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:160px;
    height:160px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.9s infinite
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}
.intro-banner-vdo-play-btn .ripple:nth-child(4){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}
.preloaderclas {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 100%;
    background: #ffffffbf;
}
.preloadertext {
    width: 400%;
    margin-left: -150%;
    margin-top: 100px;
    text-align: center;
    font-weight: 900;
}
/* - - - - - - - PRELOADER END - - - - - - - - - - - - - - */


.header {
    padding: 10px 0;
}
.mainlogin-icon {
    margin-right: 5px;
}
.mainphone-icon {
    margin-right: 10px;
}
.mainphone {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #000;
}
.main-login {
    display: flex;
    border: 1px solid #00ADFF;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #00ADFF!important;
}
.footer1 {
    padding: 50px 0;
    background: #272727;
    color: #AEAEAE;
}
.footer2 {
    padding: 10px 0;
    background: #000;
    color: #AEAEAE;
}
img.mainplace-icon {
    margin-right: 10px;
    width: 25px;
}
img.mainphone-icon2 {
    margin-right: 10px;
    width: 25px;
}
a.mainphone2 {
    display: flex;
    color: #AEAEAE;
}
.mainfooteradres {
    display: flex;
}
a.footerpolit {
    color: #AEAEAE;
    display: block;
    font-size: 16px;
    font-family: 'gilroy300';
}
.footertext2 {
    color: #AEAEAE;
    font-size: 16px;
    font-family: 'gilroy300';
}
a.footerpeaksoft {
    color: #AEAEAE;
}
a.footerpeaksoft:hover {
    text-decoration: underline;
}
a.footerpolit:hover {
    text-decoration: underline;
}
.footer-ssetter {
    display: flex;
}
a.footer-sset {
    display: block;
    margin: 0 10px;
    margin-top: 7px;
}
.b1 {
    background: #F8F8F8;
    padding: 60px;
}
.b2 {
    background: #F8F8F8;
}
.b1-text-s0 {
    display: block;
    font-family: 'optima700';
    font-size: 84px;
    text-transform: uppercase;
    background: linear-gradient(81.64deg, #C37E2B -1.28%, #EFB52A 15.73%, #F7B34F 31.42%, #CC8E35 49.82%, #C5822F 65.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
/*    background-clip: text;
    text-fill-color: transparent;*/
}
.b1-text-s0 span {
    font-size: 52px;
    display: block;
    margin-top: -30px;
}
.b1-text {
    margin-top: 50px;
}
.b1-text-s1 {
    display: block;
    font-family: 'optima400';
    font-size: 35px;
    line-height: 24px;
    color: #303030;
    text-transform: uppercase;
    margin-top: 15px;
}
.b1-text-s2 {
    display: block;
    font-family: 'gilroy300';
    font-size: 22px;
    line-height: 30px;
    color: #303030;
    margin-top: 25px;
}
a.b1-button {
    background: linear-gradient(263.43deg, #00ADFF 16.23%, #04ACFB 48.37%, #00A6FA 72.92%, #00ADFF 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 20%);
    border-radius: 48px;
    width: 340px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'gilroy500';
    color: #fff;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.b1-button2 {
    background: #fff;
    box-shadow: 0px 10px 20px rgb(0 127 166 / 20%);
    border-radius: 48px;
    border: 2px solid #00ADFF;
    width: 340px;
    height: 65px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'gilroy500';
    color: #001e2c;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nuskaulik-a {
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'gilroy400';
    text-transform: none;
    text-decoration: underline;
    color: #07376a;
    margin-bottom: 15px;
    cursor: pointer;
}
a.b1-button:hover {
    background: linear-gradient(263.43deg, #079fe7 16.23%, #2cbbff 48.37%, #70bce3 72.92%, #00acff 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 30%);
}
a.b1-button2:hover {
    background: linear-gradient(263.43deg, #079fe7 16.23%, #2cbbff 48.37%, #70bce3 72.92%, #00acff 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 30%);
    color: #fff;
}
.go1 {
    background: #F1F6F9;
    padding-bottom: 100px;
}
.go1-title {
    color: #000;
    text-align: center;
    font-family: 'optima700';
    text-transform: uppercase;
    font-size: 48px;
    line-height: 54px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.go1-title span {
    display: block;
    font-family: 'gilroy300';
    font-size: 20px;
    text-transform: none;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 50px;
}
.mereke1 {
    background: url(/images/mereke/buttons/mereke1.webp) no-repeat;
}
.mereke2 {
    background: url(/images/mereke/buttons/mereke2.webp) no-repeat;
}
.mereke3 {
    background: url(/images/mereke/buttons/mereke3.webp) no-repeat;
}
.go1toi1 {
    background: url(/images/main/toi1.webp) no-repeat;
}
.go1toi2 {
    background: url(/images/main/toi2.webp) no-repeat;
}
.go1toi3 {
    background: url(/images/main/toi3.webp) no-repeat;
}
.go1toi4 {
    background: url(/images/main/toi4.webp) no-repeat;
}
.go1toi5 {
    background: url(/images/main/toi5.webp) no-repeat;
}
.go1toi6 {
    background: url(/images/main/toi6.webp) no-repeat;
}
.go1toi7 {
    background: url(/images/main/toi7.webp) no-repeat;
}
.go1toi8 {
    background: url(/images/main/toi8.webp) no-repeat;
}
.go1toi9 {
    background: url(/images/main/toi9.webp) no-repeat;
}
.go1toi10 {
    background: url(/images/main/toi10.webp) no-repeat;
}
.go1toi11 {
    background: url(/images/main/toi11.webp) no-repeat;
}
.go1toi12 {
    background: url(/images/main/toi12.webp) no-repeat;
}
.go1toi13 {
    background: url(/images/main/toi13.webp) no-repeat;
}
.go1toi14 {
    background: url(/images/main/toi14.webp) no-repeat;
}
.go1toi15 {
    background: url(/images/main/toi15.webp) no-repeat;
}
.go1toi16 {
    background: url(/images/main/toi16.webp) no-repeat;
}

.go1toilar {
    display: block;
    background-size: 100%;
    height: 112px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgb(171 189 198 / 60%);
    color: #fff0;
}
.go1toilar:hover {
    color: #fff0;
}
form#startform {
    max-width: 450px;
    margin: 0 auto;
}
.labelstart {
    font-size: 16px;
    font-family: 'gilroy400';
    margin-top: 15px;
    margin-bottom: 5px;
    color: #303030;
}
input.inputstart {
    width: 100%;
    height: 46px;
    background: #FAFAFA;
    border: 2px solid #6eb0df;
    border-radius: 4px;
    padding: 0 10px;
    font-family: 'gilroy400';
    font-size: 14px;
}
input.inputstart2 {
    width: 100%;
    height: 46px;
    background: #FAFAFA!important;
    border: 2px solid #6eb0df;
    border-radius: 4px;
    padding: 0 10px;
    font-family: 'gilroy400';
    font-size: 14px!important;
    text-align: left!important;
    /*background-color: #fafafa;*/
}
input.inputstart::placeholder { 
    color: #a8a9ab;
    opacity: 1;
}
input.inputstart:focus::placeholder {
    color: transparent;
}
.znakp {
    position: relative;
}
img.znakimg {
    width: 45%;
    position: absolute;
    right: 10px;
    top: 310px;
}
hr.nuskaulik-line {
    margin-top: 60px;
    margin-bottom: 60px;
}
.nuskaulik {
    width: 60%;
    margin: 0 auto;
}
.nuskaulik-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.startbutton {
    border: none;
    width: 100%;
    height: 60px;
    background: linear-gradient(263.43deg, #00ADFF 16.23%, #04ACFB 48.37%, #00A6FA 72.92%, #00ADFF 94.53%);
    box-shadow: 0px 10px 25px rgb(0 127 166 / 30%);
    border-radius: 4px;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-family: 'gilroy600';
}
.help-block {
    font-size: 16px;
}
.clear {
    clear: both;
}
.breadcrumb a {
    color: #063566;
}
a.whatsapp-phone {
    display: none;
    border: 2px solid #096e19;
    padding: 6px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #096e19;
    margin-left: 20px;
}

/*----------- BLOG START -----------------*/

.pagination {
    display: inline-block!important;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination li span {
    display: inline-block;
    border: 1px solid #00A6FA;
    padding: 6px 14px;
    color: #00A6FA ;
    cursor: pointer;
}

.pagination li a {
    display: inline-block;
    border: 1px solid #00A6FA ;
    padding: 6px 14px;
    color: #00A6FA;
    cursor: pointer;
}
li.active a{
    color: #fff;
    background: #00A6FA;
}
.bblog1 {
    background: #F8F8F8;
    padding-top: 40px;
    padding-bottom: 80px;
}
.blogmain-title {
    font-family: 'gilroy600';
    font-size: 36px;
    line-height: 42px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.blogmain-title2 {
    font-family: 'gilroy600';
    font-size: 36px;
    line-height: 42px;
    color: #333;
    margin-bottom: 20px;
}
img.blog-img {
    display: block;
    width: 100%;
    height: auto;
}
.blog-title {
    font-size: 18px;
    font-family: 'gilroy600';
    margin-top: 10px;
    margin-bottom: 5px;
}
a.blog-a {
    display: block;
    border: 2px solid #00c0ff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.blog-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 3.9em;
}
.blog-button {
    background: linear-gradient(263.43deg, #00ADFF 16.23%, #04ACFB 48.37%, #00A6FA 72.92%, #00ADFF 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 20%);
    border-radius: 45px;
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    /* text-transform: uppercase; */
    font-family: 'gilroy500';
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-button:hover {
    background: linear-gradient(263.43deg, #079fe7 16.23%, #2cbbff 48.37%, #70bce3 72.92%, #00acff 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 30%);
}
.blogmain-b1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
img.blogmain-img {
    width: 32%;
    margin-right: 3%;
}
.blogmain-content {
    margin-top: 20px;
    width: 90%;
    /*text-align: justify;*/
}
.blogmain-desc {
    width: 50%;
    /*text-align: justify;*/
}
.blogmain-reklama {
    font-size: 18px;
    font-family: 'optima700';
    color: #0c7e34;
    margin-top: 30px;
}
a.blog-rekbut {
    background: linear-gradient(263.43deg, #00ADFF 16.23%, #04ACFB 48.37%, #00A6FA 72.92%, #00ADFF 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 20%);
    border-radius: 48px;
    width: 340px;
    height: 65px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'gilroy500';
    color: #fff;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.blog-rekbut {
    background: linear-gradient(263.43deg, #079fe7 16.23%, #2cbbff 48.37%, #70bce3 72.92%, #00acff 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 30%);
}
.blog-recomend {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blog-index {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
hr.blog-inline {
    margin-bottom: 50px;
}
hr.blog-line {
    margin-top: 50px;
    margin-bottom: 40px;
}
.blog-allnews {
    background: linear-gradient(263.43deg, #1cc731 16.23%, #20d115 48.37%, #1dc35f 72.92%, #1bc146 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 20%);
    border-radius: 45px;
    width: 90%;
    max-width: 360px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    /* text-transform: uppercase; */
    font-family: 'gilroy500';
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.blog-allnews:hover {
    color: #fff;
    background: linear-gradient(263.43deg, #0c9b1e 16.23%, #21ab18 48.37%, #149f4b 72.92%, #199f3b 94.53%);
    box-shadow: 0px 10px 20px rgb(0 127 166 / 30%);
}
/*----------- BLOG END -----------------*/


/*----------- РЎРЈР Р•Рў Р•РќР“Р†Р—РЈ START -----------------*/
.fileinputform .help-block {
    text-align: center;
}
.fileinputform {
    display: block;
    position: relative;
    background: #EFF3FF;
    border: 1px dashed #1C77FD;
    border-radius: 6px;
    padding: 20px 20px;
    cursor: pointer;
    transition: 0.3s all;
}
.matfileextensions {
    display: block;
    font-family: 'gilroy500';
    font-size: 14px;
    text-align: center;
    color: #000000;
}
.matfileextensions span {
    display: block;
    font-family: 'gilroy400';
}
.filedownload_h4 {
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #04357c;
    font-family: 'gilroy500';
    font-size: 14px;
}
.matzharloader {
    display: none;
    padding-top: 100px;
}
.matzharproc {
    display: block;
    font-family: 'gilroy500';
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.lineload {
    display: block;
    height: 10px;
    width: 60%;
    background: none;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
}
.lineload2 {
    display: block;
    height: 10px;
    background: #BBD7FF;
    border-radius: 50px;
}
.matnameforsc {
    display: block;
    font-family: 'gilroy400';
    font-size: 14px;
    text-align: center;
    color: #1C77FD;
    margin-top: 25px;
}
.donematzhcl {
    display: none;
}
#done_matzhar {
    display: block;
    margin: 0 auto;
    width: 167px;
    margin-top: 5px;
}
.donematzhtext {
    display: block;
    text-align: center;
    font-family: 'gilroy500';
    font-size: 14px;
    text-align: center;
    color: #03B113;
}
.filesdonematzhd {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.matfilenamelike {
    display: block;
    font-family: 'gilroy400';
    font-size: 14px;
    color: #000000;
    float: left;
    margin: 0;
}
.fileozgerttype {
    display: block;
    float: left;
    font-family: 'gilroy500';
    font-size: 14px;
    text-decoration-line: underline;
    color: #1C77FD;
    margin: 0px 0px 0px 10px;
}
.ozgpenmatzh {
    margin-right: 5px;
}
.form-group {
    margin-bottom: 0px;
}
.fileinputmatzhar {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
svg#upload_matzhar {
    display: block;
    margin: 0 auto;
    height: 220px;
    margin-top: -80px;
}
img.ozgpenmatzh {
    display: inline!important;
}
/*----------- РЎРЈР Р•Рў Р•РќР“Р†Р—РЈ END -----------------*/
.mainphone-icon {
    width: 20px;
    margin-right: 7px;
    fill: white;
}

@media(max-width: 1199px) {
.go1toilar {
    height: 98px;
}
img.b1-image {
    width: 100%;
}
.b1-text-s0 {
    font-size: 68px;
}
.b1-text-s0 span {
    font-size: 42px;
}
}
@media(max-width: 991px) {

.blogmenu {
    display: none;
}
.go1toilar {
    height: 72px;
}
a.mainphone2 {
    color: #AEAEAE;
    display: block;
    margin-top: 30px;
}
.footer-ssetter {
    margin-top: 20px;
}
.footer-ssetter {
    margin-bottom: 20px;
}
.b1-text-s0 {
    font-size: 54px;
}
.b1-text-s0 span {
    font-size: 33px;
    margin-top: -20px;
}
.b1-text-s1 {
    font-size: 24px;
}
.b1-text-s2 {
    font-size: 16px;
    line-height: 22px;
}

}
@media(max-width: 767px) {

a.footerpolit {
    margin-top: 15px;
}
.shaqyru_type {
    margin-bottom: 15px;
}
.nuskaulik-title {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}
.nuskaulik {
    width: 100%;
}
.mereke_a {
    width: 100%;
}
/*.mainphone-icon {
    width: 20px;
    margin-right: 7px;
    fill: white;
}*/
.mainphone {
    display: none;
}
a.whatsapp-phone {
    display: block;
}
.blog-recomend {
    font-size: 22px;
}
hr.blog-inline {
    margin-top: 20px;
}
.blog-index {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}
.blogmain-content {
    margin-top: 20px;
    width: 100%;
}
.blogmain-desc {
    width: 100%;
    margin-top: 15px;
}
img.blogmain-img {
    width: 100%;
    margin-right: 0;
}
.go1-title {
    font-size: 36px;
}
.go1toilar {
    height: 110px;
}
a.b1-button {
    margin: 0 auto;
    margin-top: 30px;
}
a.b1-button2 {
    margin: 0 auto;
    margin-top: 20px;
}
.b1-text {
    margin-top: 0;
}
img.b1-image {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.b1-text-s0 {
    text-align: center;
}
.b1-text-s1 {
    text-align: center;
}
.b1-text-s2 {
    text-align: center;
}
.b1 {
    padding: 50px 10px;
}
}
@media(max-width: 575px) {

.merekejpg {
    width: 90%;
}
.blogmain-title {
    font-size: 28px;
    line-height: 34px;
}
.blogmain-title2 {
    font-size: 28px;
    line-height: 34px;
}
img.mainphone-icon2 {
    margin-right: 10px;
    display: inline!important;
}
.go1toilar {
    margin-bottom: 10px;
}
.go1-title span {
    display: block;
    font-family: 'gilroy300';
    font-size: 16px;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 24px;
}
.go1-title {
    font-size: 26px;
    line-height: 32px;
}
.go1toilar {
    height: 80px;
    color: #fff0;
}
.footer1 {
    padding: 35px 0;
}
a.mainphone2 {
    margin-top: 20px;
}
.mainfooteradres {
    margin-top: 20px;
}
.mainfooterdoc {
    margin-top: 20px;
    margin-bottom: 20px;
}
.b1-text-s0 {
    font-size: 32px;
    line-height: 40px;
}
.b1-text-s0 span {
    font-size: inherit;
    line-height: inherit;
    margin-top: 0;
}
ul.breadcrumb {
    font-size: 14px;
}
}
@media(max-width: 450px) {

a.blog-rekbut {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    height: 60px;
}
.blogmain-title {
    font-size: 26px;
    line-height: 30px;
    margin-top: 10px;
}
.blogmain-title2 {
    font-size: 20px;
    line-height: 24px;
}
img.logo {
    width: 100%;
}
a.b1-button {
    width: 100%;
}
a.b1-button2 {
    width: 100%;
}
.b1-text-s2 {
    margin-top: 15px;
}
}
@media(max-width: 420px) {
a.b1-button {
    width: 90%;
    height: 55px;
    font-size: 18px;
}
a.b1-button2 {
    width: 90%;
    height: 55px;
    font-size: 14px;
}
    
}
@media(max-width: 380px) {

a.whatsapp-phone {
    margin-left: 0;
}
.go1toilar {
    height: 72px;
}
.mainphone {
    font-size: 14px;
}
.mainfooteradres {
    font-size: 14px;
}
a.mainphone2 {
    font-size: 14px;
}
a.footerpolit {
    font-size: 14px;
}
.footertext2 {
    font-size: 14px;
}
.b1-text-s0 {
    font-size: 27px;
    line-height: 36px;
}
.b1-text-s1 {
    font-size: 20px;
    margin-top: 10px;
}
}
@media(max-width: 370px) {
}
@media(max-width: 330px) {

    .go1toilar {
        height: 62px;
    }
    .mainphone {
        font-size: 12px;
    }
    .b1-text-s0 {
        font-size: 24px;
        line-height: 32px;
    }
    .b1-text-s1 {
        font-size: 18px;
        margin-top: 5px;
    }
    a.whatsapp-phone {
        font-size: 12px;
    }
}
@font-face {
	src: url("/fonts/CormorantGaramond-SemiBold.ttf");
	font-family: Cormorant-600;
}

@font-face {
	src: url("/fonts/CormorantGaramond-Bold.ttf");
	font-family: Cormorant-700;
}

@font-face {
	src: url("/fonts/futura-pt-light.ttf");
	font-family: FuturaPT-400;
}
@font-face {
    src: url("/fonts/Gilroy-Regular.ttf");
    font-family: Cormorant;
}
.abouttoi div {
	max-width: 330px;
}
.timer__items {
    display: flex;
    font-size: 20px;
    font-family: 'gilroy500';
    justify-content: center;
    color: #202020;
}
.timer__item {
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 15px;
    padding-top: 6px;
    text-align: center;
    border: 2px solid #2aaf25;
    border-radius: 50%;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translateX(-50%);
    font-size: 12px;
}
/*.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}*/

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0!important;
}

body {
	font-family: FuturaPT-400;
	color: #202020 !important;
	background: #ffffff;
	overflow-x: hidden;
}

.sitecontainer {
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
}

.blok-1 {
	/*background-image: url(/images/fon-default.jpg);*/
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

.kurmetti {
	text-align: center;
	font-family: Cormorant-700;
	font-size: 29px;
	text-transform: uppercase;
	background: #4D792E;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 510px!important;
}

.shaktext {
	font-family: FuturaPT-400;
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.blok-2 {
	background-image: url(/images/fon-2.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100%;
	/*min-height: 800px;*/
}

.abouttoi {
    text-align: center;
    color: #202020;
    font-size: 22px;
    display: flex;
    padding-bottom: 275px;
    flex-direction: column;
    align-items: center;
}

.toi1 {
	font-family: Cormorant-700;
	font-size: 36px;
	margin-top: 205px;
	margin-bottom: 20px;
}

.toi2 {
	font-family: FuturaPT-400;
}

.toi3 {
	font-family: Cormorant-600;
	font-size: 30px;
}

.toi4 {
	font-family: Cormorant-600;
}

.toi5 {
	font-family: FuturaPT-400;
	margin-top: 30px;
	margin-bottom: 20px;
}

.toi7 {
	height: 1px;
	width: 70%;
	margin: 0 auto;
	background: #EDEDED;
	margin-top: 20px;
	margin-bottom: 20px;
}

.toi8 {
	height: 1px;
	width: 70%;
	margin: 0 auto;
	background: #EDEDED;
	margin-top: 30px;
	margin-bottom: 30px;
}

.toi9 {
	font-family: Cormorant-600;
	margin-bottom: 10px;
	font-size: 24px;
}

.toi10 {
	font-size: 19px;
	font-family: FuturaPT-400;
}

.toi10 span {
	font-weight: 600;
}

img.mapimage {
	width: 80%;
	display: block;
	margin: 0 auto;
	border: 2px solid #30982C;
	margin-top: 20px;
	margin-bottom: 20px;
}

.twogis {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 60px;
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: linear-gradient(117.06deg, #20741D 23.73%, #41BE3D 45.38%, #20741D 52.48%, #2AAF25 80.6%);
	border-radius: 10px;
	padding: 15px;
	border-bottom: 4px solid #41BE3D;
	box-shadow: 1px 3px 10px #41BE3D;
	text-decoration: none;
}

.twogis:hover {
	color: #fff;
	text-decoration: none;
}

.twogis:focus {
	color: #fff;
	text-decoration: none;
}

.fotoalbom {
	font-family: Cormorant-700;
	font-size: 36px;
	color: #202020;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 80px;
}

.whatsapp {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 60px;
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: linear-gradient(117.06deg, #20741D 23.73%, #41BE3D 45.38%, #20741D 52.48%, #2AAF25 80.6%);
	border-radius: 10px;
	padding: 15px;
	border-bottom: 4px solid #20741D;
	box-shadow: 1px 3px 10px #20741D;
	text-decoration: none;
	margin-bottom: 30px;
}

.whatsapp:hover {
	color: #fff;
	text-decoration: none;
}

.whatsapp:focus {
	color: #fff;
	text-decoration: none;
}

.telephone {
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
}

.blok-4 {
	/*background-image: url(/images/fon-3.jpg);*/
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30px;
	margin-bottom: 50px;
}

.songitext {
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	margin-top: 0px;
	padding: 0 30px;
}

a.link-peaksoft {
	color: #303030;
	text-decoration: underline;
}

.kymbatfoto {
	border-radius: 10px;
	margin-bottom: 55px;
}

.prigtitle {
	font-family: Cormorant-700;
	font-size: 24px;
	text-align: center;
	line-height: 26px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.prtdop {
	font-family: FuturaPT-400;
	font-size: 20px;
	margin-bottom: 15px;
}

.spanzay {
	font-family: FuturaPT-400;
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
	margin-top: 20px;
}

.inputname {
	display: block;
	background: #FFF9F5;
	border: 0.5px solid #20741D;
	border-radius: 4px;
	font-family: FuturaPT-400;
	font-size: 18px;
	height: 45px;
	width: 100%;
	padding-left: 15px;
	margin-bottom: 5px;
}

input.inputname:focus {
	border-color: #20741D !important;
}

.inputtilek {
	display: block;
	background: #FFF9F5;
	border: 0.5px solid #20741D;
	border-radius: 4px;
	font-family: FuturaPT-400;
	font-size: 18px;
	height: 100px;
	width: 100%;
	padding-left: 15px;
}

.zayotrp {
	border: none;
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 60px;
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: linear-gradient(117.06deg, #20741D 23.73%, #41BE3D 45.38%, #20741D 52.48%, #2AAF25 80.6%);
	border-radius: 10px;
	padding: 15px;
	border-bottom: 4px solid #20741D;
	box-shadow: 1px 3px 10px #20741D;
	margin-top: 20px;
	margin-bottom: 30px;
}

.deadline {
	font-family: FuturaPT-400;
	font-size: 16px;
	color: #969696;
	text-align: center;
}

.otzname {
	font-family: Cormorant-700;
	font-size: 36px;
	text-align: center;
}

.otzname span {
	font-size: 18px;
	display: block;
}

.otztext {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 60px;
}

.ozgetilekter {
	color: #20741D;
	font-size: 18px;
	display: block;
	margin: 0 auto;
	border: 1px solid #20741D;
	height: 60px;
	width: 310px;
	text-align: center;
	padding-top: 15px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 60px;
	text-decoration: none;
}

.ozgetilekter:hover {
	text-decoration: none;
	color: #20741D;
}

.ozgetilekter:focus {
	text-decoration: none;
	color: #20741D;
}

.blok-6 {
	margin-top: 55px;
}

.otvetyn {
	font-size: 18px;
	font-weight: 600;
}


.sliderbut {
	border: 1px solid #30982C;
	border-radius: 50%;
	margin-top: 50px !important;
}

.carousel-indicators .active {
	opacity: 1;
	background-color: #30982C;
}

.carousel-indicators li {
	width: 15px !important;
	height: 15px !important;
	border-radius: 50% !important;
	border: 2px solid #30982C!important;
}

.carousel-control-next-icon {
	background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill= '%23fff' width= '8' height= '8' viewBox= '0 0 8 8' %3e%3cpath d= 'M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z' /%3e%3c/svg%3e) !important;
}


/* 亟仍� �仍亠仄亠仆�舒 input c type="radio" */
.custom-radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* 亟仍� �仍亠仄亠仆�舒 label �于�亰舒仆仆仂亞仂 � .custom-radio */
.custom-radio+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

/* �仂亰亟舒仆亳亠 于 label 仗�亠于亟仂�仍亠仄亠仆�舒  before �仂 �仍亠亟���亳仄亳 ��亳仍�仄亳 */
.custom-radio+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

/* ��亳仍亳 仗�亳 仆舒于亠亟亠仆亳亳 从���仂�舒 仆舒 �舒亟亳仂 */
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
	border-color: #20741D;
}


/* ��亳仍亳 亟仍� 舒从�亳于仆仂亶 �舒亟亳仂从仆仂仗从亳 (仗�亳 仆舒亢舒�亳亳 仆舒 仆亠�) */
.custom-radio:not(:disabled):active+label::before {
	background-color: #20741D;
	border-color: #20741D;
}

/* ��亳仍亳 亟仍� �舒亟亳仂从仆仂仗从亳, 仆舒�仂亟��亠亶�� 于 �仂从��亠 */
.custom-radio:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ��亳仍亳 亟仍� �舒亟亳仂从仆仂仗从亳, 仆舒�仂亟��亠亶�� 于 �仂从��亠 亳 仆亠 仆舒�仂亟��亠亶�� 于 �仂��仂�仆亳亳 checked */
.custom-radio:focus:not(:checked)+label::before {
	border-color: #20741D;
}

/* ��亳仍亳 亟仍� �舒亟亳仂从仆仂仗从亳, 仆舒�仂亟��亠亶�� 于 �仂��仂�仆亳亳 checked */
.custom-radio:checked+label::before {
	border-color: #20741D;
	background-color: #20741D;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* ��亳仍亳 亟仍� �舒亟亳仂从仆仂仗从亳, 仆舒�仂亟��亠亶�� 于 �仂��仂�仆亳亳 disabled */
.custom-radio:disabled+label::before {
	background-color: #20741D;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
	border-color: #20741D;
	background-color: #20741D;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* ��亳仍亳 仗�亳 仆舒于亠亟亠仆亳亳 从���仂�舒 仆舒 checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: #b3d7ff;
}

/* ��亳仍亳 亟仍� 舒从�亳于仆仂亞仂 �仂��仂�仆亳� �亠从弍仂从�舒 (仗�亳 仆舒亢舒�亳亳 仆舒 仆亠亞仂) */
.custom-checkbox:not(:disabled):active+label::before {
	background-color: #20741D;
	border-color: #80bdff;
}

/* ��亳仍亳 亟仍� �亠从弍仂从�舒, 仆舒�仂亟��亠亞仂�� 于 �仂从��亠 */
.custom-checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(32, 116, 29, 0.10);
}

/* ��亳仍亳 亟仍� �亠从弍仂从�舒, 仆舒�仂亟��亠亞仂�� 于 �仂从��亠 亳 仆亠 仆舒�仂亟��亠亞仂�� 于 �仂��仂�仆亳亳 checked */
.custom-checkbox:focus:not(:checked)+label::before {
	border-color: #80bdff;
}

/* ��亳仍亳 亟仍� �亠从弍仂从�舒, 仆舒�仂亟��亠亞仂�� 于 �仂��仂�仆亳亳 disabled */
.custom-checkbox:disabled+label::before {
	background-color: #e9ecef;
}


.popup {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background: rgba(0, 0, 0, 0.7);
}

.dm-table {
	display: table;
	width: 100%;
	height: 100%;
}

.dm-cell {
	display: table-cell;
	/*padding: 0 1em;*/
	vertical-align: middle;
	/*text-align: center;*/
}

.dm-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.65);
	/*display: none;*/
	overflow: auto;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.closeup {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.okno {
	max-width: 400px;
	background-color: #fff;
	width: 90%;
	height: auto;
	margin: 0 auto;
	/*margin-top: 110px;*/
	/*margin-left: 360px;*/
	padding-top: 30px;
	padding-bottom: 45px;
	z-index: 999999;
	position: relative;
}

.popup-close {
	position: relative;
}

.closes {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	right: 9px;
	top: -24px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.pp-span {
	font-size: 28px;
	font-family: Cormorant-700;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	font-weight: bold;
	line-height: 30px;
}

.pp-span-span {
    display: block;
    font-family: FuturaPT-400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ozgetilekter2 {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 60px;
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: linear-gradient(117.06deg, #20741D 23.73%, #41BE3D 45.38%, #20741D 52.48%, #2AAF25 80.6%);
	border-radius: 10px;
	padding: 15px;
	border-bottom: 4px solid #20741D;
	box-shadow: 1px 3px 10px #20741D;
	text-decoration: none;
	margin-top: 20px;
}

.ozgetilekter2:hover {
	color: #fff;
	text-decoration: none;
}

.ozgetilekter2:focus {
	color: #fff;
	text-decoration: none;
}

.tblok-1 {
	background-image: url(/images/tfon-1.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 350px;
}

.artkakait {
	color: #20741D;
	font-size: 16px;
	display: block;
	margin: 0 auto;
	border: 1px solid #20741D;
	height: 40px;
	width: 150px;
	text-align: center;
	padding-top: 6px;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 60px;
	text-decoration: none;
}

.artkakait:hover {
	color: #20741D;
	text-decoration: none;
}

.tilektitle {
	font-size: 28px;
	font-family: Cormorant-700;
	text-align: center;
}

.tpname {
	font-size: 36px;
	font-family: Cormorant-700;
	text-align: center;
}

.tptext {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'FuturaPT-400';
}

.tpdate {
    font-size: 20px;
    text-align: center;
    font-family: 'FuturaPT-400';
}

.tplinia {
	width: 80%;
	height: 1px;
	background: #EDEDED;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.tblok-3 {
	background-image: url(/images/tfon-2.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

.songitext2 {
	font-family: FuturaPT-400;
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 265px;
}

.pagination {
	display: inline-block!important;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination li {
	display: inline;
}

.pagination li span {
	display: inline-block;
	border: 1px solid #20741D;
	padding: 6px 14px;
	color: #20741D;
	cursor: pointer;
}

.pagination li a {
	display: inline-block;
	border: 1px solid #20741D;
	padding: 6px 14px;
	color: #20741D;
	cursor: pointer;
}

.actpage a {
	background: #20741D;
	color: #fff !important;
}

.kurmetti span {
	display: block;
	font-size: 24px;
	font-family: FuturaPT-400;
	text-align: center;
	text-transform: none;
	-webkit-text-fill-color: #202020;
}

.kurmetti-zhakynym {
	font-family: Cormorant-700;

	font-size: 20px;
	line-height: 24px;
	text-align: center;

	padding: 40px 0;
}

.kurmetpen-owners {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.kurmetpen-title {
	font-family: Cormorant-700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin: 0 0 20px 0;
}

.owners-text {
	font-family: Cormorant-700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin: 10px auto;
}

.owners-left .owners-img,
.owners-right .owners-img {
	width: 132px;
	height: 132px;
	border-radius: 100%;
	display: block;
    margin: 0 auto;
}

.insta-link {
	display: inline-block;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
	text-decoration: none;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	overflow: hidden;
}

.insta-link:hover {
	text-decoration: none;
}

.insta-link .insta-link-inner {
	width: 100%;
	background-color: #fff;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.insta-link .insta-link-inner img.insta-img {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.insta-link-inner p {
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.videosh {
	margin-top: 30px;
}
.statusnol {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 15px 30px #000;
}
.statusnolbok {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'gilroy400';
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}
span.oldprice {
	font-family: 'gilroy500';
    color: red;
    text-decoration: line-through;
    font-size: 18px;
}
span.newprice {
	font-family: 'gilroy500';
    color: green;
    margin-left: 20px;
    font-size: 20px;
}
.statusnolboka {
    display: flex;
    height: 55px;
    font-family: FuturaPT-400;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background: linear-gradient(117.06deg, #20741D 23.73%, #41BE3D 45.38%, #20741D 52.48%, #2AAF25 80.6%);
    border-radius: 10px;
    padding: 0;
    border-bottom: 4px solid #20741D;
    box-shadow: 1px 3px 10px #20741d;
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.statusnolboka:hover {
 	color: #fff;
}
.statusnolboka:focus {
 	color: #fff;
}
.statusnolboka:active {
 	color: #fff;
}

.statusnolboka2 {
    display: flex;
    height: 55px;
    font-family: FuturaPT-400;
    font-size: 22px;
    text-align: center;
    color: #fff;
    background: linear-gradient(117.06deg, #e9a136 23.73%, #df8e1a 45.38%, #dd9a37 52.48%, #f3a311 80.6%);
    border-radius: 10px;
    padding: 10px;
    border-bottom: 4px solid #b17214;
    box-shadow: 1px 3px 10px #e9a136;
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.statusnolboka2:hover {
 	color: #fff;
}
.statusnolboka2:focus {
 	color: #fff;
}
.statusnolboka2:active {
 	color: #fff;
}

.sound {
    position: fixed;
	bottom: 100px;
    right: 20px;
    width: 194px;
    height: 60px;
    background: #18BF6F;
    border-radius: 50px;
    padding: 7px;
    box-shadow: 0px 2px 3px #00000059;
    z-index: 999;
}
.sound-on img {
    max-height: 46px;
    border-radius: 50%;
}
.sound-off-svg {
    max-height: 46px;
    border-radius: 50%;
    box-shadow: 0px 1px 6px #00000069;
}
.sound-off-gif {
    max-height: 36px;
    margin-left: 5px;
}
.sound-on span {
    color: #fff;
    margin-left: 2px;
}
.sound-off {
    display: none;
    float: left;
}

@media (max-width: 500px) {
	.abouttoi {
		padding-bottom: 275px;
	}

	.brblok {
		display: none;
	}

}

@media (max-width: 454px) {
	.kurmetti {
		margin-top: 480px!important;
	}
	.blok-2 {
	    background-size: 105%;
	}

}

/*@media (max-width: 430px) {

	.kurmetti {
		margin-top: 524 px;
	}

}*/

@media (max-width: 420px) {

	.kurmetti {
		margin-top: 460px!important;
	}


}

@media (max-width: 400px) {

	.kurmetti {
		margin-top: 440px!important;
	}

	.brblok {
		display: none;
	}

}

@media (max-width: 398px) {
/*	.blok-4 {
		height: 800px;
	}*/
	.blok-2 {
	    background-size: 112%;
	}

}

@media (max-width: 381px) {


	.blok-2 {
	    background-size: 120%;
	}
	.abouttoi {
		padding-bottom: 280px;
	}

	.kurmetti {
		margin-top: 415px!important;
	}

/*	.blok-4 {
		height: 790px;
	}*/

	.blok-1 {
		/*min-height: 700px;*/
	}

	.songitext {
		padding: 0 14px;
	}
}

@media (max-width: 345px) {
	.blok-2 {
		background-position: center bottom;
		background-size: cover;
	}

	.kurmetti {
		margin-top: 370px!important;
		font-size: 26px;
	}

	.ozgetilekter {
		width: 292px;
	}

	.songitext {
		padding: 0 8px;
	}
}